@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  overflow-x: hidden;
}

.blurry-background {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}